.env
backend/db/*.sql
ai-query-lab/*
data/*
backend/db/*
backend/__pycache__
backend/core/__pycache__
backend/services/__pycache__
venvai-analyzer/__pycache__/
ai-analyzer/**/__pycache__/
ai-analyzer/venv/
ai-analyzer/.pytest_cache/
